<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Uncomment this to test unpublished builds from the AppVeyor feed. -->
    <!--<add key="appveyor-referenceassemblyannotator" value="https://ci.appveyor.com/nuget/referenceassemblyannotator" />-->
  </packageSources>
</configuration>
