<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <add key="globalPackagesFolder" value=".isolatednugetcache" />
    </config>
    <packageSources>
        <add key="Debug output" value="..\TunnelVisionLabs.ReferenceAssemblyAnnotator\bin\Debug" />
    </packageSources>
</configuration>
